<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<html>
    <head>
        <title>Welcome to group: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.authenticate') }}";
                });
            }
        </script>
        <style>
        body{
          background-image: url("https://cdn.hipwallpaper.com/i/5/45/4di6mZ.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        button[type=submit]:hover {
            background-color: #45a049;
        }
        #chat{
          background-color: lightgray;
        }
        #text{
          background-color: gray;
        }
        </style>
    </head>
    <body>
      <div class="container" style="text-align: center;">
        <h1>You are connected to group: {{ room }}</h1>
        <textarea id="chat" cols="70" rows="20"></textarea><br><br>
        <textarea id="text" placeholder="Type your message here...." cols="70" rows="10"></textarea><br><br>

        <button type="button" class ="btn btn-danger" onclick="leave_room();">Leave this room</button>
      </div>
    </body>
</html>
